* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85)),
    url(Images/backgroundmain.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 90px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
}

.navbar ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 1em;
  left: 0;
  background-color: #f9b904;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.navbar ul li:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.content {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
}

.title {
  font-size: 70px;
  line-height: 100px;
  font-weight: bold;

  height: 100px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.content {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  font-family: sans-serif;
}

button {
  padding: 15px 25px;
  margin: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 2px solid #f9b904;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, #f9b904 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.4s;
}

button:hover {
  background-position: right;
  color: #2e2b2b;
}

.slider {
  color: #f9b904;
  margin-left: 12px;
  box-sizing: border-box;
  font-size: 30px;

  animation: slider 6s linear infinite;
}

@keyframes slider {
  0% {
    margin-top: -400px;
  }
  5% {
    margin-top: -200px;
  }
  30% {
    margin-top: -200px;
  }
  35% {
    margin-top: 0px;
  }
  65% {
    margin-top: 0px;
  }
  70% {
    margin-top: 200px;
  }
  100% {
    margin-top: 200px;
  }
}

/* Footer Styles */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}
.pageEditor a,
.pageEditor a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 1s ease;
}

.pageEditor a:hover {
  color: #ff6565;
}

.pageEditor a span {
  border-left: 3px solid #ff6565;
  padding-left: 5px;
}
